@font-face {
  font-family: 'Pretendard';
  src: url('../Fonts/Pretendard-Black.otf') format('opentype'),
       url('../Fonts/Pretendard-Bold.otf') format('opentype'),
       url('../Fonts/Pretendard-ExtraBold.otf') format('opentype'),
       url('../Fonts/Pretendard-SemiBold.otf') format('opentype'),
       url('../Fonts/Pretendard-Regular.otf') format('opentype'),
       url('../Fonts/Pretendard-Light.otf') format('opentype'),
       url('../Fonts/Pretendard-ExtraLight.otf') format('opentype'),
       url('../Fonts/Pretendard-Medium.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}

html {
  width: fill-available;
  scroll-behavior: smooth;
  background-color: #161619;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  flex-direction: column;
  color: white;
  align-items: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 32px;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
